{# Site nav for pages/genes/. #}
<nav class="site-nav">
    <div class="nav-inner">
        <a href="../../" class="nav-logo">dismech</a>
        <div class="nav-links">
            <a href="../../app/index.html">Browse</a>
            <a href="../../details/">Docs</a>
            <a href="../../pages/modules/">Modules</a>
            <a href="index.html" class="active">Genes</a>
            <a href="../../pages/classifications/">Classifications</a>
            <a href="../../pages/research/index.html">Research</a>
            <a href="https://github.com/monarch-initiative/dismech">GitHub</a>
        </div>
    </div>
</nav>
